* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 5;
  transition: all 1s;
}

span {
  padding: 20px;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.list_box {
  margin-top: 50px;
  list-style: none;
  width: 350px;
  border: 1px solid lightgray;
  border-bottom: none;
  margin-bottom: 50px;
}
.list_box li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.title_list {
  font-size: 25px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
}
.list {
  font-size: 18px;
  font-weight: lighter;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s;
}
.show {
  height: 400px;
}
.black-bg {
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  position: absolute;
  opacity: 0;
}
.show-modal {
  opacity: 1;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.main-bg {
  padding: 100px 20px;
  background: lightgray;
}
.show-box {
  display: block;
}
.slide-container {
  width: 300vw;
  display: flex;
  transition: all 1s;
}
.slide-box {
  width: 100vw;
}
.slide-box img {
  width: 100%;
}
